body {
  font-family: 'Architects daughter';
}

.toggles {
  border: none;
  background: transparent;
  text-shadow: 1px 1px 3px rgb(12, 12, 12);
  color: rgb(255, 195, 84);
}


.toggles:focus {
  outline-color: transparent;
}

.toggles:hover {
  text-shadow: 0px 0px 10px #fff185;
  -moz-transition: all 0.1s e1ase-in;
  -o-transition: all 0.1s e1ase-in;
  -webkit-transition: all 0.1s e1ase-in;
  transition: all 0.1s e1ase-in;
  -ms-transition: all 0.1s e1ase-in;
}


a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(211, 209, 123, 0);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(246, 245, 173);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: rgba(0, 0, 0, 0.555);
  cursor: pointer;

}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

