
.text {
  font-family: 'Architects daughter';
  font-size: 20px;

}

.lofi {
  font-family: 'Architects daughter';
  font-size: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}


.background {
  min-height: 100vh;
  background-image: url('./empty.png');
  background-size: cover;
  background-position: center;
}

