.logo {
  font-family: 'Architects daughter';
  font-size: 1.5rem;
  display: flex;
}

.nav-links {
  font-family: 'Architects daughter';
}

.nav-station {
  font-family: 'Architects daughter';
  font-size: 18px;
}

.nav-menu {
  font-family: 'Architects daughter';
  font-size: 25px;
}


.navbar-toggler{
  background-color: white;
}

.navbar-light .navbar-brand{
  color: white;
}


.position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}
