* {
  margin: 0;
  padding: 0;
}

.text {
  font-family: 'Architects daughter';
  font-size: 20px;

}

.lofi {
  font-family: 'Architects daughter';
  font-size: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}


.background {
  min-height: 100vh;
  background-image: url('https://user-images.githubusercontent.com/92957388/151278539-bbc72287-7b96-4648-b2c6-bc1c2672ec88.png');
  background-size: cover;
  background-position: center;

}