.lofi2 {
  font-family: 'Architects daughter';
  font-size: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: nowrap;

}


.homeBackground {
  min-height: 100vh;
  /* background-image: url('../../Assets/lofigirl.gif'); */
  background-size: cover;
  background-position: center;
}

.lofi1Button {
  position: absolute;
  bottom: 0;
  padding: 20px;
  left: 0;
}

.tutorialModal {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  right: 0;
}

.spaceBottom {
  padding-bottom: 20px;
}

.rightNav {
  padding: 70px 0;
}

@media only screen and (max-width: 700px) {
  .lofi1Button {
    visibility: hidden;
  }

  .homeBackground {
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
  }


}