.register {
  font-family: 'Architects daughter';
  font-size: 20px;
  max-width: 450px;
  align-content: center;
}

/* .stuff {
  text-align: center;
}
 */

@media only screen and (max-width: 700px) {
  .register {
    align-content: center;
    width: 100%;
    
  }

}