* {
  margin: 0;
  padding: 0;
}

.text {
  font-family: 'Architects daughter';
  font-size: 18px;
}

/* 
.textbox {
  margin: auto;
  padding: 2%;
  padding-left: 2%;
} */

.Title {
  font-family: 'Architects daughter';
  font-size: 2rem;
  font-weight: 550;
  text-shadow: #FC0 1px 0 10px;
  color: rgb(255, 252, 236) !important;
  text-shadow: 1px 1px 3px rgb(255, 230, 0);
}

.subtitle {
  font-family: 'Architects daughter';
  font-size: 1.5rem;
  font-weight: 550;
  text-shadow: #FC0 1px 0 10px;
  color: rgb(255, 252, 236) !important;
  text-shadow: 1px 1px 3px rgb(255, 230, 0);
  text-decoration-line: overline;
}
.subtitle2 {
  font-family: 'Architects daughter';
  font-size: 1rem;
  font-weight: 550;
  text-shadow: #FC0 1px 0 10px;
  color: rgb(255, 252, 236) !important;
  text-shadow: 1px 1px 3px rgb(255, 230, 0);
 
}

.noteTitle {
  color: beige;
}

.background1 {
  min-height: 100vh;
  background-image: url('./studyroom2.jpg');
  background-size: cover;
  background-position: center;
}



.noteSection {
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.notepad {
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.row {
  margin-top: 5%;
}

.savedNote {
  border-bottom: beige 2px;
  border-width: 2px;
  border-top: aliceblue 2px;
}