/* music bottom modal */
.botModal {


  border-radius: 25px 25px 0px 0px;
  background-color: #DCC2A7;
  -webkit-border-radius: 25px 25px 0px 0px;
  -moz-border-radius: 25px 25px 0px 0px;
  -ms-border-radius: 25px 25px 0px 0px;
  -o-border-radius: 25px 25px 0px 0px;
}

@media only screen and (min-width: 700px) {
  .botModal {
    margin-left: 40%;
    width: 40vw;
    max-width: 40vh;
    height: 28vh;
    max-height: 28vw;
    border-radius: 25px 25px 0px 0px;
    background-color: #DCC2A7;
  }
}



.botAccordian {
  background-color: #DCC2A7 !important;

}

.accordion-button collapsed {
  background-color: #DCC2A7;
}

.tutorialModal .modal-content {
  background-color: #DCC2A7;
  text-align: center;
}


